<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-bcplayer"
    version="1.1.4">
    <name>BCPlayerPlugin</name>
    <description>Brightcove Native Player for Cordova</description>
    <license>Apache 2.0</license>
    <keywords>Cordova,Brightcove,Player</keywords>

  <js-module src="www/player.js" name="player">
    <clobbers target="plugins.BCPlayer" />
  </js-module>

  <engines>
    <engine name="cordova-android" version=">=4.0.0-dev" />
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BCPlayerPlugin">
        <param name="android-package" value="net.nopattern.cordova.brightcoveplayer.BCPlayerPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="application">
      <activity
              android:theme="@style/AppThemeTransparent"
              android:name="net.nopattern.cordova.brightcoveplayer.BCPlayerActivity"
              android:configChanges="orientation|screenSize"
              android:screenOrientation="landscape"
              android:launchMode="singleTask"
              android:label="@string/app_name" >
      </activity>
      <service android:name="net.nopattern.cordova.brightcoveplayer.BCPlayerService" android:stopWithTask="true" />
    </config-file>

    <!-- src -->
    <source-file src="src/android/BCPlayerPlugin.java" target-dir="src/net/nopattern/cordova/brightcoveplayer" />
    <source-file src="src/android/BCPlayerActivity.java" target-dir="src/net/nopattern/cordova/brightcoveplayer" />
    <source-file src="src/android/Cmd.java" target-dir="src/net/nopattern/cordova/brightcoveplayer" />
    <source-file src="src/android/BCPlayerService.java" target-dir="src/net/nopattern/cordova/brightcoveplayer" />
    <source-file src="src/android/BCVideoRetriever.java" target-dir="src/net/nopattern/cordova/brightcoveplayer" />

    <!-- libs -->
    <framework src="src/android/brightcove-libs.gradle" custom="true" type="gradleReference" />

    <resource-file src="src/android/libs/android-sdk-4.7.3.aar" target="libs/android-sdk-4.7.3.aar" />

    <!-- layout -->
    <source-file src="src/android/res/layout/bundled_video_activity_brightcove.xml" target-dir="res/layout/" />
    <source-file src="src/android/res/values/style.xml" target-dir="res/values/" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BCPlayerPlugin">
        <param name="ios-package" value="BCPlayerPlugin" />
      </feature>
    </config-file>

    <!-- src -->
    <header-file src="src/ios/BCPlayerPlugin.h" />
    <source-file src="src/ios/BCPlayerPlugin.m" />

    <header-file src="src/ios/BCPlayerPluginController.h" />
    <source-file src="src/ios/BCPlayerPluginController.m" />

    <framework src="src/ios/BrightcovePlayerSDK.framework" custom="true" />
    <framework src="MediaPlayer.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="AdSupport.framework" />
    <framework src="AVKit.framework" />
</platform>

</plugin>
